<div class="container">
    <div class="alert alert-primary text-center">

        Primeiro exemplo de Angular do curso na {{empresa}}

    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- <primeiro-comp></primeiro-comp>

            <hr />
            <app-exe03></app-exe03> -->

            <app-exercicio01></app-exercicio01>
            <two-way></two-way>
        </div>
        <div class="col-sm-6">
            <!-- <agenda-comp></agenda-comp> -->

            <!-- <app-exe04></app-exe04> -->
            <app-exercicio02></app-exercicio02>

        </div>
    </div>
</div>