<div class="container">
    <div class="alert alert-primary text-center">

        Primeiro exemplo de Angular do curso na {{empresa}}

    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Primeiro exemplo de Angular</h2>
            <primeiro-comp></primeiro-comp>
            <hr />
            <h2>Exemplo 03 - Binding Unidirecional</h2>
            <span>Numero aleatório: </span>
            <input type="text" [value]="rnd">
        </div>
        <div class="col-sm-6">
            <h2>Segundo exemplo de Angular</h2>
            <agenda-comp></agenda-comp>

        </div>
    </div>
</div>