<hr />
<h2>Exercicio 01 - Binding unidirecional:
    (Event Binding / Property Binding)
</h2>
<input type="text" id="" placeholder="Informe um nome" [value]="itemProduto" (keyup)="filtrarProduto($event)" /><br>
<!-- mostra todas as pessoas independente de ter algo digitado na caixa de texto -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of produtos">
            <td>{{p.codigo}}</td>
            <td>{{p.categoria}}</td>
            <td>{{p.descricao}}</td>
            <td>{{p.preco}}</td>
        </tr>
    </tbody>
</table>